In [13]:
# Importando o pandas para explorar os dados
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

1 - Criar uma base que contenha as seguintes informacoes:
- Pais Origem (Brasil)
- Pais Destino 
- Quantidadade em litros de vinho exportado
- Valor em US$

*** Inclui uma coluna a mais de categoria do vinho exportado

In [14]:
# Lendo dados de exportacao de vinhos
df = pd.read_csv(
    r'bases/df_exportacao_15_anos.csv',
    sep=';'
)
df.head()

,paises,quantidade_kg,valor,categorias,ano
0,Afeganistão,-,-,Vinhos de mesa,2008
1,África do Sul,-,-,Vinhos de mesa,2008
2,"Alemanha, República Democrática",265.742,429.970,Vinhos de mesa,2008
3,Angola,25.721,71.083,Vinhos de mesa,2008
4,Anguilla,-,-,Vinhos de mesa,2008

In [15]:
# Comparando a base caso eu tire os paises que nao houve exportacao
print(f'''
Total base: {df.shape[0]}
Casos onde não houve exportacao: {df[(df.quantidade_kg == '-') & (df.valor == '-')].shape[0]}
Retirando totais: {df[df.paises != 'Total'].shape[0]}
''')

Total base: 7215
Casos onde não houve exportacao: 4919
Retirando totais: 7155

In [16]:
# Separando apenas os casos onde teve exportacao
df_exportacao = df[~(df.quantidade_kg == '-') & ~(df.valor == '-')]

In [17]:
# Printando os tipos de cada coluna
df_exportacao.dtypes

paises           object
quantidade_kg    object
valor            object
categorias       object
ano               int64
dtype: object

In [18]:
df_exportacao.head()

,paises,quantidade_kg,valor,categorias,ano
2,"Alemanha, República Democrática",265.742,429.970,Vinhos de mesa,2008
3,Angola,25.721,71.083,Vinhos de mesa,2008
6,Antilhas Holandesas,17.938,22.908,Vinhos de mesa,2008
9,Austrália,218.726,99.280,Vinhos de mesa,2008
15,Bélgica,3.523,12.969,Vinhos de mesa,2008

In [19]:
# Removendo os pontos para que possamos converter para float
df_exportacao.quantidade_kg = df_exportacao.quantidade_kg.str.replace('.','').astype(float)
df_exportacao.valor = df_exportacao.valor.str.replace('.','').astype(float)

In [20]:
# Validando se os totais batem com a soma
print(
'Soma Valores:', df_exportacao[
    (df_exportacao.ano == 2008) &
    (df.paises != 'Total')
].quantidade_kg.sum(),

'\nTotal base:' ,
df_exportacao[
    (df_exportacao.ano == 2008) &
    (df.paises == 'Total')
].quantidade_kg.sum()
)

Soma Valores: 99566957.0
Total base: 99566957.0

In [21]:
# Validando se os totais batem com a soma
print(
'Soma Valores:', df_exportacao[
    (df_exportacao.ano == 2008) &
    (df.paises != 'Total')
].valor.sum(),

'\nTotal base:' ,
df_exportacao[
    (df_exportacao.ano == 2008) &
    (df.paises == 'Total')
].valor.sum()
)

Soma Valores: 194296946.0
Total base: 194296946.0

In [22]:
# Como os valores bateram posso tirar o total da base
df_exportacao = df_exportacao[(df.paises != 'Total')]

In [23]:
df_exportacao.columns

Index(['paises', 'quantidade_kg', 'valor', 'categorias', 'ano'], dtype='object')

In [24]:
# Renomeando as colunas
df_exportacao.rename(columns={
        'paises':'pais_destino',
        'quantidade_kg': 'quantidade_litro',
        'ano' : 'ano_exportado'
    },
    inplace=True)

# Criando coluna de pais origem
df_exportacao['pais_origem'] = 'Brasil'

# Ordenando as colunas
df_exportacao = df_exportacao[[
    'pais_origem',
    'pais_destino',
    'quantidade_litro',
    'valor',
    'categorias',
    'ano_exportado'
    ]
]

# Exportando resultado
df_exportacao.to_csv(r'bases/tratadas/exportacao_15_anos_tratada.csv', index=False, sep=';')